<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>

<md-sidenav-container class="example-container">
  <md-sidenav #sidenav class="example-sidenav">
    <a md-raised-button color="primary" routerLink="/articles">Articles Demo</a>
    <a md-raised-button color="primary" routerLink="/githubprofile">GitHub Profile Demo</a>
    <a md-raised-button color="primary" routerLink="/cars">Cars Demo</a>
  </md-sidenav>

  <div class="example-sidenav-content">
    <button type="button" md-button (click)="sidenav.open()">
        Open sidenav
      </button>
  </div>

</md-sidenav-container>
<router-outlet></router-outlet>