
<div class="container">
    <img [src]="car.image" alt="">  
</div>
<div class="container">
    <h3>{{car.make}}</h3>
    <div><span>MODEL: </span>{{car.model}}</div>
    <div><span>ENGINE: </span>{{ car.engine}}</div>
    <div><span>PUBLIC DATE: </span>{{ car.date}}</div>
    <div><span>DESCRIPTION: </span>{{ car.description}}</div>
    <div><span>PRICE: </span>{{ car.price}}</div>
    <div><span>OWNERE:</span>{{ car.owner.name}}</div>
    <div><span>COMMENTS: </span>{{ car.comments}}</div>
</div>

